:root {
    --color-0: #101010;
    --color-1: #252525;
    --color-2: #404040;
    --color-3: #555555;
    --color-4: #707070;
    --color-5: #858585;
    --color-font: #ffffff;
}

*, ::after, ::before {
    box-sizing: border-box;
    color: var(--color-font);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-1);
}

::-webkit-scrollbar-thumb {
    background: var(--color-3);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--color-2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 6px;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

body {
    background: var(--color-0);
    overflow-x:hidden;
}

nav {
    background: var(--color-1);
    height: 60px;
    width: 100vw;
}

.section1 {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
    width: 100vw;
}

.section2 {
    align-items: center;
    background: var(--color-2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 300px;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#add-btn {
    align-items: center;
    background: var(--color-1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 80px;
    justify-content: center;
    transition: 100ms;
    width: 300px;
}

#add-btn:hover {
    background: var(--color-2);
}

article {
    align-items: center;
    background: var(--color-1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 50px;
    width: 240px;
}

.close-btn {
    display: flex;
    color: var(--color-3);
    cursor: pointer;
    font-size: 18px;
    justify-content: right;
    margin-top: 10px;
    margin-left: 190px;
    transition: 100ms;
}

.close-btn:hover, #close-btn-form:hover {
    color: var(--color-5);
}

.rating {
    align-items: center;
    display: flex;
}

.star {
    color: #ffeb39;
    cursor: pointer;
    font-size: 30px;
    margin: 0 2px;
}

form {
    align-items: center;
    color: var(--color-0);
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 260px;
}

input, select, option, button {
    background: var(--color-3);
    border: none;
    border-radius: 10px;
    color: var(--color-font);
    cursor: pointer;
    font-size: 18px;
    height: 36px;
    margin: 20px 0 10px 0;
    padding: 5px;
    text-align: center;
    width: 100%;
}

#add-form {
    height: 50px;
    margin-top: 30px;
    transition: 100ms;
    width: 200px;
}

#add-form:hover {
    background: var(--color-4);
}

#close-btn-form {
    display: flex;
    color: var(--color-3);
    cursor: pointer;
    font-size: 18px;
    justify-content: right;
    margin-top: 10px;
    margin-left: 250px;
    transition: 100ms;
}

.hidden {
    display: none;
}

.wrong {
    border: 2px solid rgb(199, 0, 0);
}